// main.scss

@import 'utilities/variables';
@import 'utilities/theme';
@import '~bootstrap/scss/bootstrap';

h1 {
    font-weight: bold;
}

.hero-section {
    position: relative; // Changed from absolute to relative
    padding-top: 120px;
    width: 100%;
    // height: auto;
    min-height: 500px;

    background: linear-gradient(transparent, $body-bg);

    // Fallback for browsers without WebP support
    background-image:
        linear-gradient(transparent, $body-bg),
        url('@assets/images/hero-bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    // Override for browsers that support WebP
    @supports (background-image: url('@assets/images/hero-bg2.webp')) {
        background-image:
            linear-gradient(transparent, $body-bg),
            url('@assets/images/hero-bg2.webp');
    }


}


.hero-box {


    // min-width: 700px;
    padding: 2rem;
    margin: 1rem 0;

    color: #fff;

    // width: 80%;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    button {
        font-size: 1rem;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        margin: 2.5rem;
    }

    .hero-small-logo {
        height: 2.5rem;
        width: auto;
        margin-right: 0.5rem;
    }

}


.glassy-box {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); // Adding blur effect
    padding: 2rem;
    margin: 1rem 0;
}

.glassy-subbox {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    margin: 1rem 0;
}

.social_icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}